<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <h1>Pour faire un <%= @cocktail.name %> il faut :</h1>
      <h2>
      <% @cocktail.doses.each do |dose| %>
       <%= dose.description %> de <%= dose.ingredient.name %>
      <% end %>
      </h2>
        <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail) %>
       <%= link_to "Back to List", cocktails_path %>
  </div>
</div>

